{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="card banner border-0 mt-0">
        <div class="card-body">
            <h2 class="page-title text-center">LICENSEES/ MARKET PLAYERS</h2>
        </div>
    </div>
    <div class="container">
       <div class="row justify-content-center">
        <div class="card col-md-6 mt-2 mb-2 border-0">
            <div class="card-body">
                    <form method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" value="{{ query|default:'' }}" placeholder="Search by category name">
                            <div class="input-group-append">
                                <button class="btn btn-primary submit" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
       </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6">
                    <a href="{% url 'license_list' category.id %}">
                        <div class="card category border-0 mb-2">
                            <div class="card-body category-body text-center">
                                {{ category.name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
