{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="card banner border-0 mt-0" style="background-image: url('/static/main/images/kenya.jpg'); background-size: cover; background-position: center;">
        <div class="card-body">
            <h2 class="page-title text-center">LICENSEES/ MARKET PLAYERS</h2>
        </div>
    </div>
    
    <div class="container">
        <h1>License Categories</h1>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-6">
                    <a href="{% url 'license_list' category.id %}">
                      <div class="card category border-0 mb-2">
                        <div class="card-body category-body text-center">
                          {{ category.name }}
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
