:root {
    --primary-color: #000000;
    --secondary-color: #c7af55;
  }

  a {
    text-decoration: none;
  }


  .navbar {
    height: 80px; /* Increase the height as desired */
    position: relative;
    z-index: 1000;
  }

  
  
  .navbar-brand img {
    height: 50px; /* Increase the logo height as desired */
  }
  
  .navbar-nav .nav-link {
    font-size: 18px; /* Increase the font size as desired */
    padding: 10px 15px; /* Increase the padding as desired */
  }
  .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
  }

  .page-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .banner {
    background-color: var(--primary-color);
    color: white;
  }

  .square-card {
    width: 100%;
    padding-bottom: 66.66%; /* Creates a square aspect ratio */
    position: relative;
  }
  
  .square-card .card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .square-card .card-body img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .custom-row {
    display: flex;
    justify-content: center;
  }

  .custom-overlay {
    top: 70%;
  }
  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; /* Adjust the height to fit the content */
    display: flex;
    align-items: flex-end; /* Align the content to the bottom */
    justify-content: center;
    padding: 10px;
  }
  

.image-text {
    color: var(--primary-color);
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 10px;
}  

@media (max-width: 767.98px) {
  .navbar-nav {
    color: white !important;
    background-color: var(--primary-color);
  }
  .navbar-nav .nav-link {
    color: white !important;
  }
}

.custom-search-btn {
  background-color: var(--secondary-color); /* Set your desired button color */
}

.custom-view-all-btn {
  background-color: var(--secondary-color); /* Set your desired button color */
}

.submit{
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.submit:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.banner {
  background: url("/static/main/images/kenya.png");
  background-size: cover;
  background-position: center;
  color: white;
  height: 200px;
}

.category {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category:hover {
  background-color: #f0f0f0;
}

.category-body {
  font-size: 14px;
  text-decoration: none;
}

.container a {
  text-decoration: none;
  color: #000000;
}

